<!DOCTYPE html>
<html>
<head>
    <title>Saituri</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="samu.laaksonen@student.tut.fi">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Saituri</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class=<%= active == 'home' ? 'active' : 'none' %>><a href="/">Etusivu</a></li>
                        <li class=<%= active == 'about' ? 'active' : 'none' %>><a href="/about">Mik채s ihme t채m채 on?</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class=<%= active == 'contact' ? 'active' : 'none' %>><a href="/contact">Ota yhteytt채</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
